<h2 class="page-title">CONFIGURATION</h2>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Wrapper for slides -->
      <ul class="nav nav-pills nav-justified">
        <li data-target="#myCarousel" data-slide-to="0" class="active"><a href="#">Family</a></li>
        <li data-target="#myCarousel" data-slide-to="1"><a href="#">Tasks</a></li>
        <li data-target="#myCarousel" data-slide-to="2"><a href="#">Rewards</a></li>
    </ul>
    <div class="carousel-inner">
        <div class="item active" style="background:#5ec0ca">
          <div class="config-container">
            <ul>
              <li>
                <img src="../../../assets/images/avatar3.png" alt="">
                <span>Tomás</span>
              </li>
              <li>
                <img src="../../../assets/images/avatar2.png" alt="">
                <span>Lucía</span>
              </li>
              <li>
                <img src="../../../assets/images/avatar1.png" alt="">
                <span>Natalia</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Item -->
        <div class="item" style="background:#ce8f5a">
          <div class="config-container">
            <ul class="tasks-heading">
              <li>Weight</li>
              <li>Task description</li>
            </ul>
            <ul class="tasks-desc">
              <li>
                <span class="weight"><span>3</span></span>
                <span>Feed the dog</span>
              </li>
              <li>
                <span class="weight"><span>3</span></span>
                <span>Feed the dog</span>
              </li>
              <li>
                <span class="weight"><span>3</span></span>
                <span>Feed the dog</span>
              </li>
              <li>
                <span class="weight"><span>3</span></span>
                <span>Feed the dog</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Item -->
        <div class="item"  style="background:#6287a2" >
          <div class="config-container">
            <ul>
              <li>
                <img src="../../../assets/images/avatar2.png" alt="">
                <span class="name">Lucía</span>
                <span class="reward-type">Dinner</span>
              </li>
              <li>
                <img src="../../../assets/images/avatar2.png" alt="">
                <span class="name">Lucía</span>
                <span class="reward-type">Movies</span>
              </li>
              <li>
                <img src="../../../assets/images/avatar1.png" alt="">
                <span class="name">Natalia</span>
                <span class="reward-type">Chocolate</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Item -->
    </div>
    <!-- End Carousel Inner -->
</div>
<!-- End Carousel -->