<h2 class="page-title">CONFIGURATION</h2>
<button data-toggle="modal" data-target="#addModal" class="addbtn"><i class="fa fa-plus" aria-hidden="true"></i> Add new</button>

<!-- Modal Add-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add New...</h4>
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
      </div>
      <div class="modal-body">
        <div class="form-group">
          <select class="form-control" (change)="onSelect($event.target.value)">
            <option value="">Select your action</option>
            <option value="new_member">Add new family member</option>
            <option value="new_task">Add new task</option>
            <option value="new_reward">Add new reward</option>
          </select>
        </div>
        <div *ngIf="option === 'new_member'">
          <app-new-user [family]='family'></app-new-user>
        </div>
        <div *ngIf="option === 'new_task'">
          <app-new-task [family]='family'></app-new-task>
        </div>
        <div *ngIf="option === 'new_reward'">
          <app-new-reward [family]='family' [users]='users' [rewards]='rewards'></app-new-reward>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Wrapper for slides -->
  <ul class="nav nav-pills nav-justified">
    <li data-target="#myCarousel" data-slide-to="0" class="active"><a href="#">Family</a></li>
    <li data-target="#myCarousel" data-slide-to="1"><a href="#">Tasks</a></li>
    <li data-target="#myCarousel" data-slide-to="2"><a href="#">Rewards</a></li>
  </ul>
  <div class="carousel-inner">
    <div class="item active" style="background:#ce8f5a">
      <div class="config-container">
        <ul class="users-heading">
          <li>Avatar</li>
          <li>Name</li>
          <li>Age</li>
        </ul>

        <app-users-config [family]='family' [users]='family.getMembers()'></app-users-config>

      </div>
    </div>
    <!-- End Item -->
    <div class="item" style="background:#8d4c8e">
      <div class="config-container">
        <ul class="tasks-heading">
          <li>Weight</li>
          <li>Task description</li>
        </ul>

        <app-repo-tasks [tasks]='family.getTaskRep()'></app-repo-tasks>

      </div>
    </div>
    <!-- End Item -->
    <div class="item" style="background:#6287a2">
      <div class="config-container">
        <ul class="rewards-heading">
          <li>User</li>
          <li>Reward</li>
        </ul>

        <app-rewards-config [users]='users' [rewards]='rewards'></app-rewards-config>

      </div>
    </div>
    <!-- End Item -->
  </div>
  <!-- End Carousel Inner -->
</div>
<!-- End Carousel -->