<h2 class="page-title">CONFIGURATION</h2>
<button data-toggle="modal" data-target="#addModal" class="addbtn"><i class="fa fa-plus" aria-hidden="true"></i> Add new</button>

<!-- Modal Add-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div *ngIf="option === 'new_member'">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Add New Member</h4>
        </div>
        <div class="modal-body">
          <app-new-user [family]='family' [af]='af'></app-new-user>
        </div>
      </div>
      <div *ngIf="option === 'new_task'">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Add New Task</h4>
        </div>
        <div class="modal-body">
          <app-new-task [family]='family' [af]='af'></app-new-task>
        </div>
      </div>
      <div *ngIf="option === 'new_reward'">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Add New Reward</h4>
        </div>
        <div class="modal-body">
          <app-new-reward [family]='family' [af]='af' [users]='users' [rewards]='rewards'></app-new-reward>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Wrapper for slides -->
  <ul class="nav nav-pills nav-justified">
    <li data-target="#myCarousel" data-slide-to="0" class="active"><a href="#" (click)='onSelect(option= "new_member")'>Family</a></li>
    <li data-target="#myCarousel" data-slide-to="1"><a href="#" (click)='onSelect(option= "new_task")'>Tasks</a></li>
    <li data-target="#myCarousel" data-slide-to="2"><a href="#" (click)='onSelect(option= "new_reward")'>Rewards</a></li>
  </ul>
  <div class="carousel-inner">
    <div class="item active" style="background:#ce8f5a">
      <div class="config-container">
        <ul class="users-heading">
          <li>Avatar</li>
          <li>Name</li>
          <li>Age</li>
        </ul>

        <app-users-config [family]='family' [af]='af' [users]='family.getMembers()'></app-users-config>

      </div>
    </div>
    <!-- End Item -->
    <div class="item" style="background:#8d4c8e">
      <div class="config-container">
        <ul class="tasks-heading">
          <li>Weight</li>
          <li>Task description</li>
        </ul>

        <app-repo-tasks [tasks]='family.getTaskRep()' [family]='family' [af]='af'></app-repo-tasks>

      </div>
    </div>
    <!-- End Item -->
    <div class="item" style="background:#6287a2">
      <div class="config-container">
        <ul class="rewards-heading">
          <li>User</li>
          <li>Reward</li>
        </ul>

        <app-rewards-config [family]='family' [af]='af' [users]='users' [rewards]='rewards'></app-rewards-config>

      </div>
    </div>
    <!-- End Item -->
  </div>
  <!-- End Carousel Inner -->
</div>
<!-- End Carousel -->