.addbtn {
    background: #5ec0ca;
    margin: 0 auto 15px;
    display: block;
    padding: 10px;
    width: 177px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'ralewaylight';
}

.carousel,
.carousel-inner,
.item.active {
    position: absolute;
    min-height: 100%;
    display: block;
    width: 100%;
}

.item {
    min-height: 636px;
}

.page-title {
    text-align: center;
    margin: 20px 0;
    font-size: 1em;
}

.nav-justified > li {
    width: 33.33%;
}

.nav-justified > li > a {
    border-radius: 0;
    margin-bottom: 0;
    color: #fff;
}

.nav-pills > li + li {
    margin-left: 0;
}

.nav-pills > li[data-slide-to="0"] a { background-color: #ce8f5a; }
.nav-pills > li[data-slide-to="1"] a { background-color: #8d4c8e; }
.nav-pills > li[data-slide-to="2"] a { background-color: #6287a2; }

.config-container {
    line-height: 1.4;
}

.config-container ul {
    padding-left: 0;
}

.config-container ul li {
    list-style: none;
    height: 55px;
    padding: 5px 20px;
    border-bottom: 1px solid #fff;
    line-height: 40px;
    color: #fff;
}

.config-container ul li img {
    width: 40px;
    margin-right: 10px;
}

.config-container .tasks-heading {
    height: 55px;
    margin-bottom: 0;
    background: #8d4c8e;
    border-bottom: 1px solid #fff;
}

.config-container .tasks-heading li {
    float: left;
    border-bottom: 1px solid #fff;
    color: #fff;
    background: #8d4c8e;
}

.config-container .tasks-heading li:first-child {
    width: 90px;
}

.config-container .tasks-desc li {
    width: 100%;
    display: inline-block;
}

.config-container .tasks-desc li .weight {
    width: 40px;
    background: #a56aa6;
    color: #fff;
    border-radius: 50%;
    display: block;
    float: left;
    margin-right: 50px;
}

.config-container .tasks-desc li .weight span {
    margin: 0 auto;
    display: table;
}

.config-container ul li .reward-type {
    width: 50%;
    float: right;
}

@media (min-width: 768px) {
    .nav-justified > li {
        width: 33.33%;
    } 
}

#addModal .modal-footer {
    padding: 0;
    display: block;
}

#addModal button {
    width: 50%;
    float: right;
    border-radius: 0;
    height: 50px;
    margin: 0;
}

.modal.fade .modal-dialog {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
}