<div>
    <app-rewards [rewards]='family.getRewards()'></app-rewards>
    <app-users (emitId)='currentId($event)' [members]='family.getMembers()' [currentProfile]='currentProfile' [family]='family'></app-users>
    <!--ejemplo-->
    <!--<div class="user-info" *ngFor='let user of users'>
        <div *ngIf="user.getId() == currentProfile">
            <img src="../../../assets/images/avatar{{user.getAvatar()}}.png" alt="Avatar1">
            <span>{{user.name}}</span>
        </div>
    </div>-->
</div>

<div>
    <app-week [days]='family.getDays()' [taskRepo]='family.getTaskRep()' [users]='family.getMembers()' [currentUserId]='currentUserId'
        [currentProfile]='currentProfile' [family]='family' [af]='af'></app-week>
</div>