.userscont li {
    display: inline-block;
    width: 20%;
    list-style-type: none;
    font-size: 1.8em;
    text-align: center;
}

.userscont li:nth-child(2) {
    width: 45%;
}

.userscont li:nth-child(3) {
    width: 15%;
}

.userscont img {
    width: 60px;
}

.swipeleft{
   left:-50px; 
   top:0px;
   transform: translate(-50px,0);
   -webkit-transition: 400ms ease;
    -moz-transition: 400ms ease;
    -o-transition: 400ms ease;
    transition: 400ms ease;
   
}
.swiperight{
  left:0px; 
   top:0px;
  transform: translate(0,0);
  -webkit-transition: 400ms ease;
    -moz-transition: 400ms ease;
    -o-transition: 400ms ease;
    transition: 400ms ease;
}

.delete{
       padding: 24px 35px;
    background-color: #d33b18;
    width: 100px;
    z-index: 1;
    display: inline-block;
    right: 0;
    position: absolute;
    top:0px;
    font-size: 40px;
    }

.cont{
    border-bottom: 1px solid #fff;
    line-height: 100px;
    color: #fff;
    z-index: 2;
    position: relative;
    background: #ce8f5a;
}


