.family-reward {
    background-color: #ecf0f1;
    padding: 25px 15px;
}
h4 {
    color: #f39c12;
    margin-bottom: 10px;
}

@media (min-width: 1240px) {
    .family-reward {
        width: 70%; 
    }  
}