::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

h3 {
    text-align: center;
    font-family: 'ralewaylight';
}

hr {
    border-color: #fff;
    margin-bottom: 30px;
}

.sign-in input {
    background: url('../../../assets/images/mail.svg');
    background-size: 24px;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: 2px;
    height: 40px;
    font-family: 'ralewaylight';
    width: 100%;
    border: 0;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}

.sign-in input.password {
    background: url('../../../assets/images/key.svg');
    background-size: 24px;
    background-position: 2px;
    background-repeat: no-repeat;
}

.sign-in input:focus {
    outline: none;   
}

.loginbtn {
    width: 100%;
    font-size: 14px;
    font-family: 'ralewaylight';
    padding: 10px;
    margin-top: 5%;
    border: 1px solid #fff;
    border-radius: 20px;
}

.existing-user,
a {
    float: right;
    width: 100%;
    text-decoration: underline !important;
    text-align: right;
    margin-bottom: 10px;
    font-size: 13px;
}

@media (min-width: 768px) {
    form {
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }
}