<div class="container">
    <div class="avatar">
        <img src="../../../assets/images/{{avatarName}}" alt="user avatar">
    </div>
    <div class="user-info">
        <span>{{user.name}}</span>
        <div class="task-score">
            <i class="fa" [ngClass]="star1" aria-hidden="true"></i>
            <i class="fa" [ngClass]="star2" aria-hidden="true"></i>
            <i class="fa" [ngClass]="star3" aria-hidden="true"></i>
            <i class="fa" [ngClass]="star4" aria-hidden="true"></i>
            <i class="fa" [ngClass]="star5" aria-hidden="true"></i>
        </div>
    </div>
</div>