<div class="container">
    <div class="avatar">
        <img src="../../../assets/images/{{avatarName}}" alt="user avatar">
    </div>
    <div class="user-info">
        <span>{{user.name}}</span>
        <div class="score">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
        </div>
    </div>
</div>