<!-- Modal Relieve-->
<div class="modal fade" id="relieveUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Swap Task</h4>
            </div>
            <div class="modal-body">
                <span>Members:</span>
                <ul class="usersSelect">
                    <li *ngFor='let user of users'>
                        <div *ngIf="currentUserId != user.getId()" [ngClass]="nodisplay" class="user">
                            <label for="{{user.getId()}}">
                                <input type="radio" id="{{user.getId()}}" name="selectedUser" value="{{user.getId()}}" (change)='onSwapedTo($event)'>
                                <span>
                                <img src="../../../assets/images/avatar{{user.getAvatar()}}.png" alt="user avatar">
                                <img class="check" style="display:none" src="../../../assets/images/check-bg.png" alt="" class="check">
                                <!--{{user.name}}-->
                                </span>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer modal-footer addModalBtn">
                <button type="button" class="btn btn-default btn-ok" data-dismiss="modal" (click)='swaped()'>Swap Task</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>