<div class="taskcont">
  <div [ngClass]='myClass' (swipeleft)="swipe(idx, $event.type)" (swiperight)="swipe(idx, $event.type)">
    <div class="task" [style.backgroundColor]="bgColor">
      <div class="task-name">
        <span [style.color]="color">{{task.name}}</span>
      </div>
      <div class="task-score">
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </div>
      <div class="actions">
        <a [style.color]="color" data-toggle="modal" data-target="#relieveUser">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </a>
        <a (click)='setHurry(task)' [style.color]="color">
      <i class="fa fa-hard-of-hearing" aria-hidden="true"></i>
    </a>
      </div>
    </div>
  </div>
  <div class="delete" (click)='day.deleteTask(index)'><i class="fa fa-trash-o" aria-hidden="true"></i></div>
</div>

<!-- Modal Relieve-->
<div class="modal fade" id="relieveUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Swap Task</h4>
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
      </div>
      <div class="modal-body">
        <span>Members:</span>
        <ul class="usersSelect">
          <li>
            <button class="avatar" data-dismiss="modal">
              <img src="../../../assets/images/avatar1.png" alt="Avatar1">
            </button>
          </li>
          <li>
            <button class="avatar" data-dismiss="modal">
              <img src="../../../assets/images/avatar2.png" alt="Avatar2">
            </button>
          </li>
          <li>
            <button class="avatar" data-dismiss="modal">
              <img src="../../../assets/images/avatar3.png" alt="Avatar1">
            </button>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>