.task {
    background: #ce8f5a;
    padding: 15px;
    border-bottom: 1px solid #fff;
    display: block;
}
.delete{
    padding: 22px 35px;
    background-color: #d33b18;
    width: 100px;
    z-index: 1;
    display: inline-block;
    right: 0;
    position: absolute;
    top:0px;
    font-size: 40px;
}
.taskcont{
    position: relative;
    display: block;
}
.cont{z-index: 2;position: relative;}
.task div {
    float: left;
    width: 90%;
}
.task .task-name {
    height: 32px;
    line-height: 32px;
}
.task span {
    color: #fff;
    font-size: 1.8rem;
}
.task .actions {
    float: right;
    width: 10%;

}
.task .actions a {
    font-size: 2.6rem;
    color: #fff;
    width: 100%;
    display: block;
    float: left;
    margin-bottom: 15px;
}
.task .actions i {
    margin: 0 auto;
    display: table;
}
button.close {
    color: #fff;
}
.swipeleft{
   left:-50px; 
   top:0px;
   transform: translate(-50px,0);
   -webkit-transition: 400ms ease;
    -moz-transition: 400ms ease;
    -o-transition: 400ms ease;
    transition: 400ms ease;
}
.nodisplay {
    display: none;
}
.swiperight{
  left:0px; 
   top:0px;
  transform: translate(0,0);
  -webkit-transition: 400ms ease;
    -moz-transition: 400ms ease;
    -o-transition: 400ms ease;
    transition: 400ms ease;
}

.swaped {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 5;
}

.waterMark{
    font-size: xx-large;
    position: absolute;
    z-index: 3;
    top: 35%;
    left: 37%;
    opacity: 0.3;
    width: 55% !important;
}

.waterMark span{
    font-size: 2.4rem;
    text-transform: uppercase;
    vertical-align: middle;

}

@media (max-width: 320px) {
    .waterMark {
        font-size: large !important;
        width: 90% !important;
        top: 15%;
    }
}

@media (min-width: 768px) {
    .task {
        padding: 15px 50px;
    }
    .task .actions i {
        margin: 0;
        float: right;
    }
}

@media (min-width: 1240px) {
    .task {
        padding: 15px 75px;
    }
}


