<div class="taskcont">
  <div [ngClass]='myClass' (swipeleft)="swipe(idx, $event.type)" (swiperight)="swipe(idx, $event.type)">
    <div class="task" [style.backgroundColor]="bgColor">
      <div class="task-name" (click)='changeStates(task)'>
        <span [style.color]="color">{{task.name}}</span>
      </div>
      <app-stars [task]='task'></app-stars>
      <div class="actions">
        <a *ngIf="currentProfile == task.userId" (click)='sendTask()' [style.color]="color" data-toggle="modal" data-target="#relieveUser">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </a>
        <a (click)='setHurry(task)' [style.color]="color">
      <i class="fa fa-hard-of-hearing" aria-hidden="true"></i>
    </a>
      </div>
    </div>
  </div>
  <div class="delete" (click)='day.deleteTask(index)'><i class="fa fa-trash-o" aria-hidden="true"></i></div>
  <div class="swaped" *ngIf="task.swapedTo"></div>
</div>