<div class="taskcont">
  <div [ngClass]='myClass' (swipeleft)="swipe(idx, $event.type)" (swiperight)="swipe(idx, $event.type)">
    <div class="task oneHeight" [style.backgroundColor]="bgColor">
      <div class="task-name" (click)='changeStates(task)'>
        <span [style.color]="color">{{task.name}}</span>
      </div>
      <app-stars *ngIf="task.status == 2" [task]='task' [family]='family' [af]='af'></app-stars>
      <div class="waterMark" *ngIf="task.status == 1">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <span>In Progress</span>
      </div>
      <div class="waterMark" *ngIf="task.status == 2">
        <i class="fa  fa-check" aria-hidden="true"></i>
        <span>Completed</span>
      </div>
      <div class="waterMark" *ngIf="task.status == 3">
        <i class="fa  fa-exclamation-circle" aria-hidden="true"></i>
        <span>Hurry</span>
      </div>
      <div class="waterMark" *ngIf="task.status == 4 && task.swapedTo != 0">
        <i class="fa  fa-exchange" aria-hidden="true"></i>
        <span>Swapped</span>
      </div>
      <div class="actions">
        <a *ngIf="currentProfile == task.userId && (task.status == 0 || task.status == 4)" (click)='sendTask()' [style.color]="color"
          data-toggle="modal" data-target="#relieveUser">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        </a>
        <a *ngIf="currentProfile != task.userId && task.status == 0" (click)='setHurry(task)' [style.color]="color ">
          <i class="fa fa-hard-of-hearing " aria-hidden="true "></i>
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="currentProfile==1" class="delete " (click)='deleteTask()'><i class="fa fa-trash-o " aria-hidden="true "></i></div>
  <div class="swaped " *ngIf="task.swapedTo"></div>
</div>