.task {
    background: #ce8f5a;
    padding: 15px;
    min-height: 100px;
    border-bottom: 1px solid #efd199;
    display: block;
}
.delete{
    padding: 22px 35px;
    background-color: #d33b18;
    width: 100px;
    z-index: 1;
    display: inline-block;
    right: 0;
    position: absolute;
    top:0px;
    font-size: 40px;
    color: #ffffff;
}
.taskcont{
    position: relative;
    display: block;
}
.cont{z-index: 2;position: relative;}
.task div {
    float: left;
    width: 45%;
}
.task .task-name,
.task .task-score {
    height: 65px;
    line-height: 65px;
}
.task span {
    color: #efd199;
    font-size: 1.8rem;
}
.task-score {
    font-size: 2.1rem;
    color: #ffe500;
}
.task .actions {
    float: right;
    width: 10%;

}
.task .actions a {
    font-size: 2.6rem;
    color: #efd199;
    width: 100%;
    display: block;
    float: left;
    margin-bottom: 15px;
}
.task .actions i {
    margin: 0 auto;
    display: table;
}
button.close {
    color: #fff;
}
.swipeleft{
   left:-50px; 
   top:0px;
   transform: translate(-50px,0);
   -webkit-transition: 400ms ease;
    -moz-transition: 400ms ease;
    -o-transition: 400ms ease;
    transition: 400ms ease;
}
.nodisplay {
    display: none;
}
.swiperight{
  left:0px; 
   top:0px;
  transform: translate(0,0);
  -webkit-transition: 400ms ease;
    -moz-transition: 400ms ease;
    -o-transition: 400ms ease;
    transition: 400ms ease;
}


