<div class="container">
    <span>{{day.dayName}} <a (click)='sendDay(day)' [style.color]="color" data-toggle="modal" data-target="#newTask"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a></span>
</div>
<app-swap-tasks (sendTaskSelected)='taskReceived($event)' [day]='day' [users]='users' [currentUserId]='currentUserId' [tasks]=tasks
    [currentProfile]='currentProfile' [family]='family' [af]='af'></app-swap-tasks>
<app-tasks (sendTaskSelected)='taskReceived($event)' [day]='day' [users]='users' [currentUserId]='currentUserId' [tasks]=tasks
    [currentProfile]='currentProfile' [family]='family' [af]='af'></app-tasks>