<div class="task">
  <div class="task-name">
    <span>Breakfast</span>
  </div>
  <div class="task-score">
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
  </div>
  <div class="actions">
    <a href="">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </a>
    <a href="">
      <i class="fa fa-hard-of-hearing" aria-hidden="true"></i>
    </a>
  </div>
</div>
<div class="task">
  <div class="task-name">
    <span>Feed the dog</span>
  </div>
  <div class="task-score">
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
  </div>
  <div class="actions">
    <a href="">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </a>
    <a href="">
      <i class="fa fa-hard-of-hearing" aria-hidden="true"></i>
    </a>
  </div>
</div>
<div class="task">
  <div class="task-name">
    <span>Lunch</span>
  </div>
  <div class="task-score">
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
  </div>
  <div class="actions">
    <a href="">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </a>
    <a href="">
      <i class="fa fa-hard-of-hearing" aria-hidden="true"></i>
    </a>
  </div>
</div>
<div class="task">
  <div class="task-name">
    <span>Iron</span>
  </div>
  <div class="task-score">
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
  </div>
  <div class="actions">
    <a href="">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </a>
    <a href="">
      <i class="fa fa-hard-of-hearing" aria-hidden="true"></i>
    </a>
  </div>
</div>
<div class="task">
  <div class="task-name">
    <span>Take out trash</span>
  </div>
  <div class="task-score">
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
  </div>
  <div class="actions">
    <a href="">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </a>
    <a href="">
      <i class="fa fa-hard-of-hearing" aria-hidden="true"></i>
    </a>
  </div>
</div>
<div class="task">
  <div class="task-name">
    <span>Wash dishes</span>
  </div>
  <div class="task-score">
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
  </div>
  <div class="actions">
    <a href="">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </a>
    <a href="">
      <i class="fa fa-hard-of-hearing" aria-hidden="true"></i>
    </a>
  </div>
</div>
<div class="task">
  <div class="task-name">
    <span>Dinner</span>
  </div>
  <div class="task-score">
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
  </div>
  <div class="actions">
    <a href="">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </a>
    <a href="">
      <i class="fa fa-hard-of-hearing" aria-hidden="true"></i>
    </a>
  </div>
</div>
<div class="task">
  <div class="task-name">
    <span>Lunch</span>
  </div>
  <div class="task-score">
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
  </div>
  <div class="actions">
    <a href="">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </a>
    <a href="">
      <i class="fa fa-hard-of-hearing" aria-hidden="true"></i>
    </a>
  </div>
</div>
<div class="task">
  <div class="task-name">
    <span>Breakfast</span>
  </div>
  <div class="task-score">
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
  </div>
  <div class="actions">
    <a href="">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </a>
    <a href="">
      <i class="fa fa-hard-of-hearing" aria-hidden="true"></i>
    </a>
  </div>
</div>
<div class="task">
  <div class="task-name">
    <span>Breakfast</span>
  </div>
  <div class="task-score">
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
  </div>
  <div class="actions">
    <a href="">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </a>
    <a href="">
      <i class="fa fa-hard-of-hearing" aria-hidden="true"></i>
    </a>
  </div>
</div>
<div class="task">
  <div class="task-name">
    <span>Breakfast</span>
  </div>
  <div class="task-score">
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
  </div>
  <div class="actions">
    <a href="">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </a>
    <a href="">
      <i class="fa fa-hard-of-hearing" aria-hidden="true"></i>
    </a>
  </div>
</div>
<div class="task">
  <div class="task-name">
    <span>Breakfast</span>
  </div>
  <div class="task-score">
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
  </div>
  <div class="actions">
    <a href="">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </a>
    <a href="">
      <i class="fa fa-hard-of-hearing" aria-hidden="true"></i>
    </a>
  </div>
</div>