
.modal.fade .modal-dialog {
    -webkit-transform: translateY(35%);
    transform: translateY(35%);
}

li {
    list-style: none;
    padding: 5px 10px;
    border-bottom: 1px solid #EBEBEB;
        color: #666666;
    font-size: 16px;
}

.windowTasks ul {
    height: 195px;
    overflow: auto;
    border: 1px solid #a2a2a2;
    padding-left: 0;
}
