<span class="isDone">{{isDone}}</span>
<span>Task name</span>
<span class="error">{{errorName}}</span>
<div class="form-group">
  <input placeholder="Task Name" type="text" (change)='onTitleChange($event)' [value]='title' class="form-control">
</div>
<span>Weight</span>
<span class="error">{{errorWeight}}</span>
<form id="myForm">
  <ul class="weightsSelect">
    <li *ngFor='let weight of weights'>
      <div class="weight">
        <label for="{{weight.id}}">
       
        <input type="radio" id="{{weight.id}}" name="taskWeight" value="{{weight.id}}" (change)='onWeightChange($event)'>
        <span>
          <p [style.background]='weight.bgcolor'>{{weight.id}}</p>
          <img class="check" style="display:none" src="../../../assets/images/check-bg.png" alt="">
        </span>
      </label>
      </div>
    </li>
  </ul>
</form>

<div class="modal-footer addModalBtn">
  <button type="button" class="btn btn-default" (click)="addNewTask()">Add</button>
  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetForm()">Cancel</button>
</div>