<span>Task name {{family.id}}</span>
<div class="form-group">
  <input type="text" (change)='onTitleChange($event)' [value]='title' class="form-control" >
</div>
<span>Weight</span>
<div class="form-group">
  <select class="form-control" (change)='onWeightChange($event)' [value]='weight'>
    <option value="">1</option>
    <option value="">2</option>
    <option value="">3</option>
    <option value="">4</option>
    <option value="">5</option>
  </select>
</div>

<div class="modal-footer addTask">
  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="addNewTask()">Add</button>
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>