.weightsSelect {
    padding: 0;
}
.weightsSelect li {
    display: inline-block;
    margin-left: 10px;
}
.weightsSelect li:first-child {
    margin-left: 0;
}
weight {
    width: 20%;
    padding: 5px;
}
label{
  position: relative;
  text-align: center;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  cursor: pointer;
}
input[type=radio]{
    position: absolute;
    width:100%;
    height:100%;
    z-index: 1;
    opacity: 0;
    transform: translateX(-50%);
} 
label p {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: middle;
    color: #fff;
    line-height: 60px;
}
label img {
    display: block;
    width: 60px;
    height: auto;
    margin: 0 auto;
}
label:hover {
    opacity: 0.8;
}
input[type=radio]:checked + span img.check {
    display: block !important;
    position: absolute;
    float: left;
    margin-top: -70px;
}
.addModalBtn.modal-footer {
    position: absolute;
    width: 100%;
    margin-left: -15px;
    padding: 0;
    margin-top: 30px;
}

.addModalBtn.modal-footer button {
    width: 50%;
    float: left;
    border-radius: 0;
    height: 50px;
    margin: 0;
}

.addModalBtn.modal-footer button:hover {
    background: none;
    border:0;
}

.addModalBtn.modal-footer button:first-child {
    background: #5ec0ca;
    color: #fff;
}

.error{color: #990000; font-weight: bold;}
.isDone{color: #007700;  font-weight: bold;}
.close{color: #5ec0ca;top: -42px;right: 20px;position: absolute;font-weight: bolder; font-size: 20px;}

