<div id="week" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div class="item" [ngClass]="{'active': day.dayName == 'Lunes'}" *ngFor='let day of days'>
      <app-day (emitCurrentDay)="catchDay($event)" (emitCurrentTask)="catchTask($event)" [day]='day' [taskRepo]='taskRepo' [users]='users'
        [currentUserId]='currentUserId'></app-day>
    </div>
  </div>
  <a class="left carousel-control" href="#week" data-slide="prev">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
  </a>
  <a class="right carousel-control" href="#week" data-slide="next">
    <i class="fa fa-angle-right" aria-hidden="true"></i>
  </a>
</div>
<app-add-task [taskRepo]='taskRepo' [currentDay]='currentDay' [currentUserId]='currentUserId'></app-add-task>
<app-swap-user [currentTask]='currentTask' [currentUserId]='currentUserId' [users]='users'></app-swap-user>