#week {
    background: #6287a2;
}

.item .container span {
    margin: 35px auto;
    display: table;
    color: #fff;
    font-size: 2rem;
}

.item .container span a {
    color: #fff;
    margin-left: 10px;
}

@media (min-width: 1240px) {
    #week {
        width: 70%;
    }
}