#menu-toogle {
    font-size: 2.5em;
    position: absolute;
}

#menu-toogle svg {
    width: 40px;
    height: 45px;
    padding: 5px;
    margin-left: 5px;
}

header {
    height: 45px;
    width: 100%;
    font-family: 'ralewaylight';
    border-bottom: 1px solid #EBEBEB;
}

.app-logo {
    margin: 0 auto;
    display: block;
    width: 93px;
    padding-top: 10px;
    color: #333;
    text-decoration: none;
}

.slide {
    position: absolute;
    left: -80%;
    width: 80%;
    height: 100%;
    background: #fff;
    transition: 1s;
    z-index: 8;
    margin-top: 13px;
}

.slide-menu {
    transition: 1s;
    left: 0;
}

.overlay {
    background: rgba(0, 0, 0, 0.61);
    min-height: 100%;
    float: right;
    z-index: 6;
    position: absolute;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    margin-top: 13px;
}

.slide-overlay {
    visibility: visible;
    opacity: 1;
}

.user-info,
.menu-options {
    padding-bottom: 20px;
    margin: 20px;
    border-bottom: 1px solid #EBEBEB;
}

.menu-options {
    border-bottom: 0;
}

.menu-options ul {
    padding-left: 0;
    list-style: none;
    font-size: 1.8rem;
}

.menu-options ul li {
    margin-bottom: 15px;
}

.menu-options ul li a {
    color: #a2a2a2;
}

.menu-options ul li a i {
    margin-right: 10px;
}    

.user-info img {
    width: 80px;
    margin: 0 auto;
    display: block;
}

.user-info span {
    width: 100%;
    text-align: center;
    display: block;
    margin: 15px 0 0;
    font-size: 2rem;
    color: #4DD0E1;
}

.user-info .email {
    color: #a2a2a2;
    font-size: 1.4rem;
    margin: 0;
}