#usersCarousel {
    background: #62c0c9;
}

.controls.left i,
.controls.right i {
    position: absolute;
    top: 30px;
    z-index: 5;
    display: inline-block;
    color: #fff;
    text-shadow: none;
    font-size: 40px;
}

.controls.left i {
    left: 0;
}

.controls.right i {
    right: 0;
}

.controls {
    opacity: initial;
}