<div id="usersCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div [attr.id]='user.id' class="userSel item" [ngClass]="{'active': user.id == currentProfile}" *ngFor='let user of members'>
      <app-user [user]='user'></app-user>
    </div>
  </div>
  <a class="left carousel-control" href="#usersCarousel" data-slide="prev" (click)="setUserPrev()">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
  </a>
  <a class="right carousel-control" href="#usersCarousel" data-slide="next" (click)="setUserNext()">
    <i class="fa fa-angle-right" aria-hidden="true"></i>
  </a>
</div>