#usersCarousel {
    background: #62c0c9;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
    height: 100px;
}

.carousel-control.left i,
.carousel-control.right i {
    left: 50%;
    position: absolute;
    top: 30px;
    z-index: 5;
    display: inline-block;
    color: #fff;
    text-shadow: none;
    font-size: 40px;
}

.carousel-control {
    opacity: initial;
}

@media (min-width: 1240px) {
    #usersCarousel {
        width: 70%;
    }
}