<div class="task-score">
        <i class="fa" [ngClass]="setStar1()" id="star1" (click)="rateScore(1)" aria-hidden="true"></i>
        <i class="fa" [ngClass]="setStar2()" id="star2" (click)="rateScore(2)" aria-hidden="true"></i>
        <i class="fa" [ngClass]="setStar3()" id="star3" (click)="rateScore(3)" aria-hidden="true"></i>
        <i class="fa" [ngClass]="setStar4()" id="star4" (click)="rateScore(4)" aria-hidden="true"></i>
        <i class="fa" [ngClass]="setStar5()" id="star5" (click)="rateScore(5)" aria-hidden="true"></i>
</div>
