.rewardscont li {
    display: inline-block;
    width: 20%;
    list-style-type: none;
    font-size: 1.8em;
    text-align: center;
}

.rewardscont li:nth-child(2) {
    width: 79%;
}

.rewardscont>ul>li>div {
    width: 60px;
    margin: 0 auto;
}

.rewardscont>ul>li>div>img {
    width: 100%;
}

.rewardscont>ul>li>img {
    width: 60px;
}

.swipeleft{
   left:-50px; 
   top:0px;
   transform: translate(-50px,0);
   -webkit-transition: 400ms ease;
    -moz-transition: 400ms ease;
    -o-transition: 400ms ease;
    transition: 400ms ease;
   
}
.swiperight{
  left:0px; 
   top:0px;
  transform: translate(0,0);
  -webkit-transition: 400ms ease;
    -moz-transition: 400ms ease;
    -o-transition: 400ms ease;
    transition: 400ms ease;
}

.delete{
    padding: 6px 35px;
    background-color: #d33b18;
    width: 100px;
    height: 55px;
    z-index: 1;
    display: inline-block;
    right: 0;
    position: absolute;
    top:0px;
    font-size: 32px;
    color: #ffffff;
    }

.cont{
    border-bottom: 1px solid #fff;
    line-height: 100px;
    z-index: 2;
    position: relative;
    background: #6287a2;
}


